body {
    overflow-y: hidden;
    background-color: rgb(49, 106, 170);
    /* background-color: rgb(54, 93, 138); */
}

.title {
    margin-top: 50px;
    margin-bottom: -100px;
    font-size: 45px;
    color: rgb(73, 144, 221);
    /* text-shadow: 1px 1px 1px rgb(23, 99, 199); */
}

.turns {
    margin-top: 150px;
    margin-bottom: -175px;
    font-size: 40px;
    color: rgb(45, 134, 229);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background-color: rgb(45, 120, 206);
    font-size: 40px;
    color: rgb(58, 58, 58);
    width: 75px;
    height: 75px;
    border: 1px solid rgb(56, 94, 135);
    border-radius: 5px;
    margin: 3px;
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
